* {
   margin: 0;
   padding: 0;
}
body {
   max-width: 100%;
   color: #171717;
   /* font-size: 19px; */
}
a {
   color: #171717;
   text-decoration: none;
}
a:hover {
   color: #C9A96E;
}
h1 {
   text-transform: uppercase;
   text-decoration: underline;
   text-decoration-color: #C9A96E;
   text-decoration-style: solid;
   font-size: 32px;
}
img {
   width: 100%;
}
hr {
   color: #E5E5E5;
}

.menu {
   display: flex;
   justify-content: space-between;
   margin: 32px 128px;
}
.menu .mobile-menu {
   display: none;
}
.menu .home {
   width: 45%;
   display: flex;
   justify-content: space-between;
   font-size: 120%;
}
.menu .home li:nth-child(2) a {
   color: #C9A96E;
}
.menu .home li:nth-child(2):hover a {
   color: #171717;
}

.hero {
   background-image: linear-gradient(transparent, #0000005d), url(img/Hero.jpg);
   width: 100%;
   height: 700px;
   color: white;
}
.hero h2 {
   font-size: 110%;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero .descr {
   font-size: 300%;
   margin-bottom: 10px;
}
.hero .info {
   font-size: 120%;
}
.hero div {
   margin-left: 19.53%;
   max-width: 560px;
   padding-top: 30%;
   display: flex;
   flex-wrap: wrap;
}

.band {
   margin-left: 19.53%;
   max-width: 40.10%;
}
.band h3, .featured h3 {
   font-weight: normal;
   font-size: 75%;
   margin-top: 5%;
   color: #C9A96E;
   text-transform: uppercase;
}


.band .post1 div, .post3 div, .post2, .featured div, .author{
   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s linear;
}
.post1 div:hover, .post3 div:hover, .post2:hover, .featured div:hover, .author:hover {
   transform: scale(105%, 105%);
}

.band .post1, .post3 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
}
.band .descr {
   font-size: 120%;
   display: block;
   margin: 5% 10%;
} 
.band .info {
   font-size: 70%;
   color: #666666;
}
.band .post1 div, .post3 div {
   margin-bottom: 30px;
   width: 48%;
   /* height: 420px; */
   padding-bottom: 15px;
}
.band .post1 {
   margin-top: 60px;
   margin-bottom: 30px;
}

.band .post2 {
   /* height: 570px; */
   padding-bottom: 25px;
   margin-bottom: 30px;
}
.band .post2 div {
   padding-left: 4%;
}
.band .post2 .descr {
   margin: 1% 0;
}
.band .post2 .short-descr {
   margin-top: 2%;
   width: 85%;
   display: block;
   color: #666666;
   font-size: 90%;
}
.band .post2 img {
   height: 50%;
}

.band .slider {
   border: #E5E5E5 1px solid;
   display: flex; align-items: center;
   justify-content: space-between;
   width: 66.10%; height: 50px;
   margin-left: 16.88%;
   margin-top: 30px; margin-bottom: 80px;
}
.band .slider svg {
   max-width: 5.5%;
   margin: 0 5px;
   fill: #171717;
}
.slider button {
   background: none;
   border: none;
   display: block;
   padding: 18px 10px;
   text-transform: uppercase;
   color: #171717;
   font-size: 80%;
}
.slider button:hover {
   color: white;
   background-color: #171717;
}
.slider button:hover path {
   fill: white;
}

.sidebar {
   position: absolute;
   top: 860px;
   right: 18%;
   width: 16%;
}
.sidebar h2 {
   font-weight: normal;
   font-size: 100%;
   padding: 15px 0;
   margin-bottom: 20px;
   text-align: center;
   border: #E5E5E5 1px solid;
}
.sidebar .post {
   margin-bottom: 70px;
}
.sidebar .author {
   /* height: 385px; */
   text-align: center;
}
.sidebar .author img {
   height: 46.75%;
}
.sidebar .author h3 {
   font-size: 90%;
   margin-top: 20px;
   margin-bottom: 5px;
}
.sidebar .author .descr {
   font-size: 75%;
   font-style: italic;
   color: #B1B1B1;
   display: block;
}
.sidebar .author .info {
   display: block;
   font-size: 80%;
   color: #666666;
   margin: 14px 5%;
}
.sidebar .author .continue {
   display: block;
   width: 100%;
   padding: 6.23% 0;
   background-color: white;
   border: #E5E5E5 1px solid;
   text-transform: uppercase;
   color: #C9A96E;
}
.sidebar .author .continue:hover {
   background-color: #C9A96E;
   border: #C9A96E 1px solid;
   text-transform: uppercase;
   color: white;
}

.sidebar .featured img {
   height: 55.75%;
}
.featured div {
   /* height: 287px; */
   padding-bottom: 15px;
   margin-bottom: 30px;
   text-align: center;
}
.featured .descr {
   font-size: 95%;
   display: block;
   margin: 5% 5%;
} 
.featured .info {
   font-size: 70%;
   color: #666666;
}

.sidebar li {
   color: #666666;
   display: flex;
   justify-content: space-between;
}
.sidebar li:hover {
   background-color: #666666;
   color: white;
}
.sidebar li button {
   display: block;
   width: 80%;
   text-align: left;
   font-family: "Times New Roman";
   font-size: 90%;
   color: #666666;
   padding: 5% 0;
   background: none;
   border: none;
}
.sidebar li button:hover {
   background-color: #666666;
   color: white;
}
.sidebar li text {
   margin-top: 5%;
}

.sidebar .social {
   width: 100%;
   display: flex; flex-wrap: wrap;
   justify-content: space-between;
   align-items: stretch;
}
.sidebar .social svg {
   display: block;
   margin: 0 auto;
   max-width: 20px;
   max-height: 20px;
   margin-bottom: 2%;
}
.sidebar .social button {
   display: block;
   width: 32.33%; max-height: 32.33%;
   background-color: #F8F9FA;
   border: #F8F9FA 1px solid;
   color: #999999;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 80%;
   text-align: center;
}
.sidebar .social button:hover {
   background-color: #666666;
   border: #666666 1px solid;
   color: #F8F9FA;
}
.sidebar .social button:hover path {
   fill: white;
}

.sidebar .tags {
   display: flex; flex-wrap: wrap;
   /* justify-content: space-between; */
   gap: 5px;
   width: 100%;
}
.sidebar .tags button {
   display: block;
   padding: 10px 17px;
   background-color: #F8F9FA;
   border: #F8F9FA 1px solid;
   color: #999999;
   font-size: 90%;
   font-family: 'Times New Roman', Times, serif;
}
.sidebar .tags button:hover {
   background-color: #666666;
   border: #666666 1px solid;
   color: #F8F9FA;
}

.follow {
   width: 100%;
   text-align: center;
}
.follow h2 {
   font-weight: normal;
}
.follow img {
   width: 15.42%;
}
.follow div {
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

footer {
   width: 60.94%;
   margin: auto;
   text-align: center;
}
footer h1 {
   margin-top: 100px;
   margin-bottom: 60px;
}
footer .menu {
   width: 45%;
   margin: auto;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer .menu a {
   color: #666666;
}
footer .menu a:hover {
   color: #C9A96E;
}
footer .social {
   width: 40%;
   display: flex;
   justify-content: space-between;
   margin: auto;
   margin-top: 30px; margin-bottom: 40px;
}
footer .social button {
   display: block;
   width: 40px; height: 40px;
   border-radius: 50%;
   border: #E5E5E5 1px solid;
   background: none;
}
footer .social button:hover {
   background-color: #C9A96E;
   border: #C9A96E 1px solid;
}
footer .social button:hover path {
   fill: white;
}
footer .social svg {
   max-width: 56%; max-height: 50%;
}
footer .copyright {
   display: block;
   width: 40%;
   margin: 30px auto;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #666666;
}

